* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: normal;
  background-color: rgba(65, 65, 65, 0.808);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  justify-content: center;
}

.grid-item {
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-color: rgb(170, 170, 170);
  cursor: pointer;
}

.grid-item:hover {
  background-color: rgb(199, 196, 196);
}
.grid-item:active {
  background-color: rgb(97, 96, 96);
}

.output {
  grid-column: span 4;
  text-align: right;
  background-color: black;
  color: white;
  padding: 20px 5px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 30px;
  word-wrap: break-word;
  word-break: break-all;
}

.clear {
  grid-column: span 2;
}

.operator {
  background-color: #d67309;
  color: #fff;
}

.grid-item.operator:active {
  background-color: #f06616;
}

.operator:hover {
  background-color: rgb(240, 143, 52);
  color: #fff;
}

.zero {
  grid-column: span 3;
}
